
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

.debug{
    nav{
        background-color: skyblue;
        
    }
    
    .nav-logo{
        background-color: yellow;
        border: 1px dashed black;
    }
    .nav-link{
        background-color: yellow;
        border: 1px dashed black;
    }
    .nav-login{
     background-color: yellow;       
     border: 1px dashed black;
    }
    .hero{
        background-color: rgb(59, 0, 114);
    }
    .hero-content{
        background-color: rgb(255, 133, 235);
    }
    .section-img{
        background-color: blue;
        border: 1px dashed black;
    }
    .section-description{
        background-color: pink;
        border: 1px dashed black;
    }
    .main-section-reverse{
        background-color: rgb(213, 211, 211);
    }
    #technology{
        background-color: rgb(213, 211, 211);;
    }
    .technology-content{
        background-color: green;
        border: 1px dashed black;
    }
    .footer-link{
        background-color: #333;
    }
    
    .footer-contact{
        background-color: palevioletred;
        border: 1px dashed black;
    }
    .footer-column{
        background-color: cyan;
        border: 1px dashed white;
    }
    .footer-button{
        background-color: #333;
        
    }
    .footer-button-container{
        background-color: aquamarine;
    }
    .footer-logo, .footer-btn>button
    {
        background-color: palevioletred;
        border: 1px dashed black;
    }
}
nav{
    width: 100%;
    padding: 1rem 0;
   
}
.nav-content{
    width: 60%;
    margin: auto;
    div{
        padding: 0.5em;
    }
    
}

.d-flex{
    display: flex;
}
.nav-logo{
    width: 20%;
}
.nav-login{
    width: 20%;
    text-align: end;
}
.nav-link{ 
    width: 60%;
    ul{
    list-style: none;
    justify-content: center;
    gap: 1rem;
    }
    
}
.hero{
    width: 100%;
    padding: 2rem;
}
.hero-content{
    width: 50%;
    margin: auto;
    min-height: 15rem;
}
.main-section{
    padding: 2rem;
}
.section-content{
    width: 60%;
    min-height: 23rem;
    align-items: stretch;
    margin: auto;
}
.section-img{
    width: 60%;
}
.section-description{
    width: 40%;
}
.reverse{
    flex-direction: row-reverse;
}
.main-section-reverse{
    padding: 2rem;
}
.technology-content{
    min-height: 45rem;
    margin: auto;
    width: 60%;
}
.footer-link{
    padding: 1rem 2rem 2rem 2rem;
}
.footer-link-container{
    margin: auto;
    width: 60%;
    min-height: 30rem;
   

}
.footer-contact{
    width: 30%;

}
.footer-col-container{
    justify-content: space-between;
   
    width: 70%;
}
.footer-column{
    width: 25%;
}
hr {
    border-color: rgb(213, 211, 211);
}
.footer-button{
    padding: 2rem;
}
.footer-button-container{
    margin: auto;
    justify-content: space-between;
    padding: 1rem 0;
    width: 60%;
}
.footer-btn> button, .footer-logo{
    padding: 0.2rem 0.4rem;
}
