
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

.debug{
    nav{
        background-color: skyblue;
        
    }
    .nav-logo{
        background-color: yellow;

    }
    .nav-link{
        background-color: yellow;
        
    }
    .nav-login{
     background-color: yellow;       
    }
    .hero{
        background-color: rgb(59, 0, 114);
    }
    .hero-content{
        background-color: rgb(255, 133, 235);
    }
    .section-img{
        background-color: blue;
    }
    .section-description{
        background-color: pink;
    }
    .main-section-reverse{
        background-color: rgb(213, 211, 211);
    }
}
nav{
    width: 100%;
    padding: 1rem 0;
   
}
.nav-content{
    width: 60%;
    margin: auto;
    div{
        padding: 0.5em;
    }
    
}

.d-flex{
    display: flex;
}
.nav-logo{
    width: 20%;
}
.nav-login{
    width: 20%;
    text-align: end;
}
.nav-link{ 
    width: 60%;
    ul{
    list-style: none;
    justify-content: center;
    gap: 1rem;
    }
    
}
.hero{
    width: 100%;
    padding: 2rem;
}
.hero-content{
    width: 50%;
    margin: auto;
    min-height: 15rem;
}
.main-section{
    padding: 2rem;
}
.section-content{
    width: 60%;
    min-height: 23rem;
    align-items: stretch;
    margin: auto;
}
.section-img{
    width: 60%;
}
.section-description{
    width: 40%;
}
.reverse{
    flex-direction: row-reverse;
}
.main-section-reverse{
    padding: 2rem;
}